.user-ticket-index {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}
.user-ticket-index h1 {
    height: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: .75px;
    margin-right: -.75px;
    font-weight: 700;
}