.user-ticket-index {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.user-ticket-index h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: .75px;
    margin-right: -.75px;
    font-weight: 700;
}

.user-ticket-index-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
}

.user-ticket-index-title > h1 {
    padding-top: 20px;
}

.user-ticket-index ul {
    display: flex;
    flex-direction: column;
}

.ticket-contents-name {
    display: flex;
    justify-content: flex-start;
    width: 83%;
    padding-left: 3%;
    background-color: #f8f7fa;
    height: 70px;
}

.ticket-contents-name i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #6f7287;
    font-size: .975rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.ticket-contents-name i:first-child {
    width: 48%;
}

.ticket-contents-name i:nth-child(2){
    width: 29%;
}

.ticket-contents-name i:nth-child(3) {
}

.ticket-event-delete-modal {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    max-height: 100%;
    background: white;
    border: 1px solid #ccc;
    transition: 1.1s ease-out;
    box-shadow: 
        -2rem 2rem 2rem rgba(black, 0.2);
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    position: absolute;
    padding: 20px;
    border-radius: 2px;
}

.ticket-event-delete-modal button {
    display: flex;
    justify-content: center;
    height: 44px;
    width: 50%;
    padding-top: 1.5%;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 24px;
    font-weight: 548;
    letter-spacing: 0.2px;
    color: white;
    background-color: #d1410c;
    border: 2px solid #d1410c;
    border-radius: 4px;
    cursor: pointer;
    transition: all 240ms cubic-bezier(0.4, 0, 0.3, 1);
    transition-property: background-color, border-color;
}

.ticket-event-delete-modal div:first-child {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 24px;
    font-weight: 600;
}

.ticket-event-delete-modal div:last-child {
    display: flex;
    justify-content: center;
    height: 50px;
}

.ticket-event-delete-modal-dim {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:350%;
    background: rgba(0, 0, 0, 0.8);
    z-index:1;
}