.header {
    display: flex;
    justify-content: space-between;
    height: 8%;
}

.left-header {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.right-header {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.home-link {
  display: flex;
  color: #f05537;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-family: briteicons,"Neue Plak",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;
  font-weight: bolder;
  font-style: normal;
  width: 170px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.home-link i {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Dropdown Button */
.dropdown-link{
  background-color: #f05537;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.signin-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: 350;
  border: none;
  text-decoration: none;
  width: 80px;
}

.signin-link:hover {
  background-color: rgb(242, 242, 242);
}

/* The container <div> - needed to position the dropdown content */
.dropdown-menu {
  position: relative;
  display: inline-block flex;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -90px;
  top: 30px;
}

/* Links inside the dropdown */
.dropdown-content h3 {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
  height: 40px;
}

/* Change color of dropdown links on hover */
.dropdown-content h3:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-menu:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-menu:hover .dropdown-link{background-color: #f05537;}