.header {
    display: flex;
    justify-content: space-between;
    height: 8%;
}

.left-header {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.right-header {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.home-link {
  display: flex;
  color: #f05537;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-family: briteicons,"Neue Plak",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;
  font-weight: bolder;
  font-style: normal;
  width: 170px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.create-event-link,
.show-tickets-link,
.manage-event-link {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  width: 20%;
}

.create-event-link:hover,
.show-tickets-link:hover,
.manage-event-link:hover {
  background-color: rgb(242, 242, 242);
}

.create-event-link i:first-child,
.show-tickets-link i:first-child,
.manage-event-link i:first-child {
  display: flex;
  justify-content: center;
}

.create-event-link i:first-child::before,
.show-tickets-link i:first-child::before,
.manage-event-link i:first-child::before {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-event-link i:last-child,
.show-tickets-link i:last-child,
.manage-event-link i:last-child {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 450;
}

.dropdown-link i:first-child::before {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-link i {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Dropdown Button */
.dropdown-link{
  display: flex;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.signin-link, .about-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: 350;
  width: 80px;
  border: none;
  text-decoration: none;
}

.dropdown-link {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 12px;
  font-weight: 350;
}

.dropdown-link div {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.dropdown-link p, 
.dropdown-link i {
  display: flex;
  justify-content: center;
}

.dropdown-link p {
  font-size: 12px;
  font-weight: 450;
}

.signin-link:hover, .about-link:hover {
  background-color: rgb(242, 242, 242);
}

.fa-github {
  padding-top: 3px;
  color: green;
}

.fa-linkedin {
  padding-top: 3px;
  color: #0077b5;
}

.fa-angellist {
  padding-top: 3px;
  color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-menu, .dropdown-about-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80px;
}

.dropdown-menu:hover, .dropdown-about-menu:hover {
  background-color: rgb(242, 242, 242);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  min-width: 160px;
  z-index: -1;
  opacity: 0;
  transition: opacity 500ms ease;
  left: -80%;
  width: 200%;
  top: 100%;
}

.dropdown-about-content {
  position: absolute;
  min-width: 160px;
  z-index: -1;
  opacity: 0;
  transition: opacity 500ms ease;
  left: -40%;
  top: 100%;
}

/* Links inside the dropdown */
.dropdown-content h3,
.dropdown-about-content a {
  display: flex;
  flex-direction: column;
  color: #6f7287;
  background-color: white;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
  height: 40px;
  box-shadow: 0 2px 0px 2px rgb(238, 237, 242);
}

.dropdown-content h3 a {
  display: block;
  color: black;
  font-size: 14px;
  font-weight: bold;
  height: 100%;
}

.dropdown-content h3 p {
  font-size: 13px;
  color: #6f7287;
}

.dropdown-content a {
  text-decoration: none;
}

#profile-header-info {
  border-bottom: 1px solid #eeedf2;
}

/* Change color of dropdown links on hover */
.dropdown-content h3:hover {background-color: #f8f7fa;}

/* Show the dropdown menu on hover */
.dropdown-menu:hover .dropdown-content {
  z-index: 1;
  opacity: 1;
}

.dropdown-about-menu:hover .dropdown-about-content {
  z-index: 1;
  opacity: 1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-menu:hover .dropdown-link,
.dropdown-about-menu:hover .dropdown-link {
  background-color: rgb(242, 242, 242);
}