body {
  font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  color: #39364f;
}

.session-container {
    padding-top: 10%;
}

.session-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}

.session-form h1 {
    display: flex;
    justify-content: center;
    height: 20%;
    font-size: 30px;
    font-weight: 700;
}

.session-form h1 a {
    padding-left: 5px;
}

.session-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 33%;
    padding-right: 33%;
}
.session-form form .field-wrapper {
    border: 1px solid lightgray;
    border-radius: 2px;
    position: relative;
    padding: 3px;
    width: 99%;
    height: 18%;
    position: relative;
    transition: border 240ms cubic-bezier(0.4, 0, 0.3, 1);
}

.session-form form .field-wrapper-focused {
    border: none;
    position: relative;
    padding: 3px;
    width: 99%;
    height: 18%;
    position: relative;
    transition: border 240ms cubic-bezier(0.4, 0, 0.3, 1);
}

.session-form form .field-wrapper:hover {
    border-color: var(--eds-ui-500, #A9A8B3);
}

.session-form form .field-wrapper label {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  padding-left: 2%;
  position: absolute;
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--eds-ui-800, #39364F);
  z-index: -1;
}

.session-form form .field-wrapper-focused label {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  padding-left: 2%;
  position: absolute;
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--eds-ui-800, #39364F);
  z-index: -1;
}

.session-form form .field-wrapper input {
    border: 0px none; 
    font-size: 14px;
    padding: 3% 3% .5%;
    width: 94%;
    height: 70%;
    background: transparent;
}

.session-form form .field-wrapper-focused input {
    border: 0px none; 
    font-size: 14px;
    padding: 3% 3% .5%;
    width: 94%;
    height: 70%;
    background: transparent;
}

.session-form form .field-wrapper-focused input:focus {
    outline: none;
}

.session-form button {
    display: flex;
    justify-content: center;
    height: 44px;
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 24px;
    font-weight: 548;
    letter-spacing: 0.2px;
    color: white;
    background-color: #d1410c;
    border: 2px solid #d1410c;
    border-radius: 4px;
    cursor: pointer;
    transition: all 240ms cubic-bezier(0.4, 0, 0.3, 1);
    transition-property: background-color, border-color;
}

.session-form button:hover {
    background-color: #F05537;
    border-color: #F05537;
}

.session-form button:focus {
    outline: none;
}

.session-errors {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    color: red;
    height: 20%;
}

.session-errors p {
    height: 10%;
}

.new-class {
    position: relative;
    border: 2px solid lightgray;
    border-radius: 2px;
    transition: border 140ms ease;
    bottom: 10%;
    right: 1%;
    height: 110%;
    width: 101%;
}

.new-class:defined {
    border-color: var(--eds-ui-500, #3659E3);
}

.new-class > #email-label, 
.new-class > #username-label, 
.new-class > #password-label {
    color: #3659E3;
}