    //background-color: #555; //dark-gray
.event-show-page {
    background-color: #ececec;
    height: 300%;
}

.event-show-body {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 13%;
    left:13%;
    width:75%;
    height: 280%;
    border-radius: 6px;
}

.event-show-header {
    display: flex;
    height: 15%;
}

.event-show-header-image img {
    border-top-left-radius: 6px;
    width: 100%;
}

.event-show-header-image {
    width: 100%;
}

.event-show-header-info {
    background: #F7F7F7;
    border-top-right-radius: 6px;
    width: 50%;
}

.header-info-date {
    display: flex;
    flex-direction: column;
    height: 40%;
}

.header-info-date h2:first-child {
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.header-info-date h2:last-child {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.25em;
    letter-spacing: 1px;
}

.header-info-container h1 {
    padding-top: 5%;
    display: block;
    display: -webkit-box;
    max-height: 125;
    margin: 0 auto;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1E0A3C;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: .5px;
    word-break: break-word;
    height: 60%;
}

.header-info-container {
    height: 30%;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 10%;
}

.header-info-container p {
    margin-bottom: 5px;
    margin-right: 5px;
    color: #6F7287;
}

.header-info-container p:last-child {
    font-size: .9333333333rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .5px;
    color: #39364f;
}

.event-show-panel {
    border-style: solid;
    border-color: #DBDAE3;
    border-width: 1px 0;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    height: 4%;
    display: flex;
    justify-content: space-between;
}

.event-show-panel-tickets {
    padding-right: 1.5%;
    width: 30%;
}

.event-show-panel-tickets button {
    display: flex;
    justify-content: center;
    height: 44px;
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    font-weight: 560;
    letter-spacing: 0.2px;
    color: white;
    background-color: #0D8547;
    border: 2px solid #0D8547;
    border-radius: 4px;
    cursor: pointer;
    transition: all 240ms cubic-bezier(0.4, 0, 0.3, 1);
    transition-property: background-color, border-color;
    font-size: 15px;
    text-transform: capitalize;
}

.event-show-panel-tickets button#sold-out {
    background-color: red;
    border: 2px solid red;
}

.event-show-panel-tickets button:hover {
    background-color: #3d9d6c;
    border-color: #3d9d6c;
}

.event-show-panel-tickets button#sold-out:hover {
    cursor: default;
}

.event-show-details {
    display: flex;
    height: 15%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
}

.details-description {
    display: flex;
    width: 70%;
    padding-right: 5%;
}

.details-info {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.details-info div {
    display: flex;
    flex-direction: column;
}

.details-info > div > p {
    font-weight: 400;
    font-size: .9333333333rem;
    line-height: 1.25rem;
    color: #39364f;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.details-info > div > h1 {
    color: #1E0A3C;
    line-height: 1.4rem;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    font-size: 1.17em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    height: 20%;
}

#map-container {
    height: 30%;
    margin-left: 10%;
    width: 50%;
}