// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-index {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.events {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.events-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: .5px;
    line-height: 40px;
    padding: 0% 5% 0;
}

.event-index-nav {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 4.5% 0;
}

.event-index-nav ul {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 80%;
}

.event-index-nav ul li a {
    text-decoration: none;
    list-style-type: disc;
    color: #6f7287;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    background: none;
    border: none;
    padding: 0;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    list-style-type: none;
    padding-bottom: 10px;
}

.event-index-nav ul li a:hover {
    color: #39364f;
    border-bottom: 2px solid #39364f;
}

.event-index-item-wrapper {
    height: 300px;
    width: 275px;
    padding: 20px;
}

.event-index-item {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 4px 15px 0 rgba(40,44,53,.06), 0 2px 2px 0 rgba(40,44,53,.08);
    transition: box-shadow 400ms ease;
}

.event-index-item a {
    text-decoration: none;
    color: black;
}

.event-index-item:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.event-index-item-image-wrapper {
    height: 55%;
}

.event-index-item-image-container {
    position: relative;
}

.event-index-item-image-container .status{
    position: absolute;
    height: 20%;
    border-radius: 4px;
    background-color: #fff;
}

.event-index-item-image-wrapper img {
    width: 100%;
}

.event-index-item-content-container {
    padding: 10px 6px;
    height: 40%;
}

.event-index-item-content-container div {
    overflow: hidden;
    padding-top: 5%;
}

.event-date {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #d1410c;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 500;
    height: 20%;
}

.event-name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    height: 40%;
}

.event-category {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

//.event-index-item:not(:first-child) {
    //padding: 8px;
//}
.event-index-item {
    padding: 8px;
}

.event-index-item h3,
.event-index-item p {
    height: 50%;
}

.event-form {
    display: flex;
    flex-direction: column;
}

.event-form div {
    width: 40%;
    padding-left: 30%;
}

.event-form div div {
    padding-left: 0;
    width: 90%;
}

.event-basic-info {
    display: flex;
    flex-direction: column;
}

.basic-info-header, 
.event-location-header,
.event-date-and-time-header,
.event-description-header {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

.event-location {
    height: 55%;
}

.location-field-wrapper,
.category-field-wrapper,
.start-date-field-wrapper,
.start-time-field-wrapper,
.end-date-field-wrapper,
.end-time-field-wrapper,
.timezone-field-wrapper {
    width: 100% !important;
}

.basic-info-header h1, 
.event-location-header h1,
.event-date-and-time-header h1, 
.event-description-header h1,
.event-image h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1e0a3c;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: .75px;
    margin-right: -.75px;
    font-weight: 700;
}

.event-date-and-time-header h1 {
    height: 50%;
}

.start-date-time-field-wrapper {
    display: flex;
    justify-content: space-around;
}

.datetime-item {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.end-date-time-field-wrapper {
    display: flex;
    justify-content: space-around;
}

.basic-info-header div, 
.event-location-header div, 
.event-date-and-time-header div,
.event-description-header div,
.event-image {
    padding-left: 0;
    width: 100%;
    line-height: 22px;
    font-weight: 400;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.basic-info-header div p, 
.event-location-header div p,
.event-date-and-time-header p,
.event-description-header p,
.event-time p {
    color: #39364f;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.event-location {
    display: flex;
    flex-direction: column;
}

.event-location-header {
    display: flex;
    flex-direction: column;
}

.event-date-and-time {
    display: flex;
    flex-direction: column;
    width: 60% !important;
}

.event-description-wrapper {
    display: flex;
    flex-direction: column;
    height: 80%;
}

.event-image {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2%;
}

.image-selector {
    display: flex;
    flex-direction: column;
    color: #39364F;
    width: 25%;
}

.image-selector img {
    width: 80%;
    height: 80%;
}

.image-selector > div:first-child {
    height: 75%;
}

.image-selector > div:last-child {
    display: flex;
    height: 25%;
}

.image-selector p {
    height: 10%;
}

.image-selector-error {
    color: red;
}

.image-selector input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: transparent;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    width: 40%;
}

input[type="file"] {
    appearance: initial;
    align-items: baseline;
    white-space: pre;
    padding: initial;
    border: initial;
    overflow: hidden;
}

.timezone-header {
    height: 50%;
}

.event-date-and-time-header {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.event-form-divider {
    width: 60%;
    height: 1px;
    background-color: var(--eds-ui-200,var(--eds-ui-200,#eeedf2));
    box-sizing: content-box;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}


//////
.event-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200%;
}

.event-form .field-wrapper {
    border: 1px solid lightgray;
    border-radius: 2px;
    position: relative;
    padding: 3px;
    width: 99%;
    height: 40%;
    position: relative;
    transition: border 240ms cubic-bezier(0.4, 0, 0.3, 1);
}

.event-form .field-wrapper-dropdown {
    border: 1px solid lightgray;
    border-radius: 2px;
    position: relative;
    width: 47%;
    height: 50%;
    position: relative;
    transition: border 240ms cubic-bezier(0.4, 0, 0.3, 1);
}

.event-form .field-wrapper-dropdown-error {
    border: 1px solid transparent;
    border-radius: 2px;
    border: none;
    position: relative;
    width: 47%;
    height: 50%;
    position: relative;
    transition: border 240ms cubic-bezier(0.4, 0, 0.3, 1);
}

.field-wrapper-dropdown-error select {
    border: 0px none; 
    position: relative;
    padding: 1.1% 1.5% 1.5%;
    top: 25%;
    font-size: 14px;
    width: 100%;
    background: transparent;
    outline: none;
}


.event-form .field-wrapper-dropdown-focused {
    border: 1px solid transparent;
    border-radius: 2px;
    border: none;
    position: relative;
    width: 47%;
    height: 50%;
    position: relative;
    transition: border 240ms cubic-bezier(0.4, 0, 0.3, 1);
}


.event-form .field-wrapper-focused {
    border: none;
    position: relative;
    height: 45%;
    width: 101%;
    position: relative;
    transition: border 240ms cubic-bezier(0.4, 0, 0.3, 1);
}

.event-form .field-wrapper-error {
    border: none;
    position: relative;
    height: 45%;
    width: 101%;
    position: relative;
    transition: border 240ms cubic-bezier(0.4, 0, 0.3, 1);
}

.event-form .field-wrapper:hover {
    border-color: var(--eds-ui-500, #A9A8B3);
}

.event-form .field-wrapper label {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  padding-left: 2%;
  position: absolute;
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--eds-ui-800, #39364F);
  z-index: -1;
}

.event-form .field-wrapper-focused label {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  padding-left: 2%;
  position: absolute;
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--eds-ui-800, #39364F);
  z-index: -1;
}

.event-form .field-wrapper-error label {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  padding-left: 2%;
  position: absolute;
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--eds-ui-800, red);
  z-index: -1;
}


.event-form .field-wrapper input {
    border: 0px none; 
    font-size: 14px;
    padding: 3% 3% .5%;
    width: 94%;
    background: transparent;
}

.event-form .name-field-wrapper {
    width: 100%;
}

.event-form .description-field-wrapper {
    width: 100%;
}

#event-type-category-dropdown,
#timezone-dropdown {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.event-form .field-wrapper-dropdown select {
    border: 0px none; 
    font-size: 14px;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
}

#event-type:focus,  
#category-type:focus,
#timezone-type:focus {
    border: 0px none; 
    position: relative;
    padding: 1.1% 1.5% 1.5%;
    top: 25%;
    font-size: 14px;
    width: 100%;
    background: transparent;
    outline: none;
}

.event-form .field-wrapper-focused input {
    border: 0px none; 
    font-size: 14px;
    padding: 3% 3% .5%;
    height: 100%;
    background: transparent;
}

.event-form .field-wrapper-focused input:focus {
    outline: none;
    border: 0px none; 
    font-size: 14px;
    position: relative;
    top: -25%;
    width: 94%;
    background: transparent;
}

.event-date-timezone-wrapper {
    display: flex;
}

.event-date-and-time-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.event-description {
    height: 40%;
}

.start-date-field-wrapper input,
.end-date-field-wrapper input,
.start-time-field-wrapper input,
.end-time-field-wrapper input {
    height: 120%;
}

.description-field-wrapper input {
    height: 70%;
}

.start-date-field-wrapper input:focus,
.end-date-field-wrapper input:focus,
.start-time-field-wrapper input:focus,
.end-time-field-wrapper input:focus {
    height: 170%;
}

#start-time,
#end-time {
    width: 75%;
    padding-left: 10%;
}

.event-form button {
    display: flex;
    justify-content: center;
    height: 44px;
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 24px;
    font-weight: 548;
    letter-spacing: 0.2px;
    color: white;
    background-color: #d1410c;
    border: 2px solid #d1410c;
    border-radius: 4px;
    cursor: pointer;
    transition: all 240ms cubic-bezier(0.4, 0, 0.3, 1);
    transition-property: background-color, border-color;
}

.event-form button:hover {
    background-color: #F05537;
    border-color: #F05537;
}

.event-form button:focus {
    outline: none;
}

.event-form .field-wrapper-error {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    color: red;
    height: 50%;
}

.event-form .field-wrapper-error input{
    border: 0px none; 
    font-size: 14px;
    padding: 3% 3% .5%;
    height: 100%;
    width: 95%;
    background: transparent;
}

.event-form .field-wrapper-error input:focus {
    outline: none;
    border: 0px none; 
    font-size: 14px;
    position: relative;
    top: -25%;
    width: 94%;
    background: transparent;
}

.event-form .field-wrapper-error p {
    height: 10%;
}

.new-class {
    position: relative;
    border: 2px solid lightgray;
    border-radius: 2px;
    transition: border 140ms ease;
}

.new-class:defined {
    border-color: var(--eds-ui-500, #3659E3);
    height: 100%;
}

.error-class {
    position: relative;
    border: 2px solid lightgray;
    border-radius: 2px;
    transition: border 140ms ease;
}

.error-class:defined {
    border-color: var(--eds-ui-500, red);
    height: 100%;
}

.error-class-dropdown {
    position: relative;
    border: 2px solid lightgray;
    border-radius: 2px;
    transition: border 140ms ease;
}

.error-class-dropdown:defined {
    border-color: var(--eds-ui-500, red);
    height: 100%;
}

.event-errors-shown {
    color: red;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    overflow: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    z-index: -1;
    height: 20%;
}

.event-errors-hidden,
.event-errors-description-hidden {
    color: transparent;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    overflow: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    z-index: -1;
    height: 20%;
}

.event-errors-list {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    color: red;
    height: 20%;
}

div .event-form-submit {
    height: 20%;
}

.new-class > #name-label, 
.new-class > #type-label, 
.new-class > #start-date-label,
.new-class > #start-time-label,
.new-class > #end-date-label,
.new-class > #end-time-label,
.new-class > #category-label,
.new-class > #description-label {
    color: #3659E3;
}
.error-class > #name-label, 
.error-class > #type-label, 
.error-class > #start-date-label,
.error-class > #start-time-label,
.error-class > #end-date-label,
.error-class > #end-time-label,
.error-class > #category-label,
.error-class > #description-label {
    color: red;
}
///////
.dim {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:350%;

    background: rgba(0, 0, 0, 0.8);

    z-index:1;
}

.loader {
  z-index:2;
  color: #ffffff;
  font-size: 50px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  bottom: 44%;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-disabled {
    height: 0%;
}

.dim-disabled {
    height: 0%;
}

textarea {
    width: 100%;
}

.description-errors > textarea {
    border: 2px solid red;
}

.event-errors-description-hidden, .hidden {
    height: 0% !important;
}
