    //background-color: #555; //dark-gray
.event-show-page {
    background-color: #ececec;
    height: 300%;
}

.event-show-body {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 13%;
    left:13%;
    width:75%;
    height: 280%;
    border-radius: 6px;
}

.event-show-header {
    display: flex;
    height: 15%;
}

.event-show-header-image img {
    border-top-left-radius: 6px;
    width: 100%;
}

.event-show-header-image {
    width: 100%;
}

.event-show-header-info {
    background: #F7F7F7;
    border-top-right-radius: 6px;
    width: 50%;
}

.header-info-date {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.header-info-container h1 {
    padding-top: 5%;
    height: 50%;
}

.header-info-container {
    height: 30%;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 10%;
}

.event-show-panel {
    border-style: solid;
    border-color: #DBDAE3;
    border-width: 1px 0;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    height: 4%;
}

.event-show-details {
    display: flex;
    height: 15%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
}

.details-description {
    display: flex;
    width: 70%;
    padding-right: 5%;
}

.details-info {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.details-info div {
    display: flex;
    flex-direction: column;
}