.user-events {
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.user-events-title {
    padding-top: 4%;
    padding-bottom: 4%;
    height: 20%;
}

.user-events-title h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: .75px;
    margin-right: -.75px;
    font-weight: 700;
    color: var(--eds-ui-900,#1e0a3c);
}

.contents-name {
    padding-left: 2%;
    display: flex;
    justify-content: flex-start;
    background-color: #f8f7fa;
    height: 20%;
    padding-top: 2%;
    padding-bottom: 2.5%;
}

.contents-name i {
    color: #6f7287;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.contents-name i:first-child {
    width: 40%;
}

.contents-name i:nth-child(2){
    width: 20%;
}

.contents-name i:nth-child(3) {
    width: 20%;
}