.user-index-item {
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 3%;
    border-bottom: 1px solid #eeedf2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 237, 242); 
    transition: box-shadow 400ms ease;
}

.user-index-item:hover {
    box-shadow: 0 2px 0px 2px rgb(238, 237, 242);
}

.contents-description {
    display: flex;
}

.event-content-description {
    width: 40%;
    display: flex;
}

.event-content-description-date {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-content-description-date i:first-child {
    color: #d1410c;
    font-size: 16px;
    line-height: 16px;
    height: 20%;
}

.event-content-description-date i:last-child {
    color: #6f7287;
    font-size: 1.125rem;
    line-height: 1.5rem;
    height: 40%;
    letter-spacing: .25px;
    margin-right: -.25px;
    font-weight: 600;
}

.event-content-description-image {
    width: 20%;
    height: 80%;
}

.event-content-description-image img {
    max-width: 100%;
}

.event-content-description-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    color: #1e0a3c;
    padding-top: 5%;
    padding-left: 5%;
}

.event-content-description-info div:first-child {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
    height: 30%;
}

.event-content-description-info div:nth-child(2) {
    color: #6f7287;
    font-size: .85rem;
    line-height: 1rem;
}

.sold-content-description {
    width: 20%;
}

.gross-content-description {
    width: 22%;
}

.status-content-description {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #6f7287;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}



.user-event-dropdown {
    display: flex;
    justify-content: center;
    color: #4b4d63;
    padding-top: 1.5%;
    height: 20%;
    border-radius: 50%;
    position: relative;
    width: 5%;
    transition: background-color 300ms ease;
}

.user-event-dropdown:hover {
    background-color: #f8f7fa;
    border-radius: 50%;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.event-dropdown-content {
  position: absolute;
  min-width: 160px;
  z-index: -1;
  left: -80%;
  top: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
}

/* Links inside the dropdown */
.event-dropdown-content p {
  display: block;
  color: black;
  background-color: white;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
  height: 20px;
  box-shadow: 0 2px 0px 2px rgb(238, 237, 242);
}

.event-dropdown-content a {
    text-decoration: none;
}

/* Change color of dropdown links on hover */
.event-dropdown-content p:hover {background-color: #f8f7fa;}

/* Show the dropdown menu on hover */
.user-event-dropdown:hover .event-dropdown-content {
    z-index: 1;
    opacity: 1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.event-dropdown-menu:hover .event-dropdown-link{
  background-color: rgb(242, 242, 242);
}